/BasicIdentification.class
/ChildObjects.class
/Comment.class
/Comments.class
/LastUpdateTime.class
/Object.class
/ObjectFactory.class
/ObjectRepository.class
/Objects.class
/ParseObjRep.class
/Properties.class
/Property.class
/PropertyRef.class
/Value.class
